---
import SvelteCounter from '../components/SvelteCounter.svelte';
import { createClient ,gql} from '@urql/core';
import {PokemonDocument,PokemonQueryVariables} from "../generated/graphql"

let title = 'My Astro Site';

const query = gql`
  query {
  pokemon(name: "ditto") {
    id
    name
  }
}
`
const client = createClient({
    url:"https://graphql-pokeapi.vercel.app/api/graphql"
})

client.query<unknown,PokemonQueryVariables>(PokemonDocument,{name:"ditto"}).toPromise().then((res)=> console.log(res.data))
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
</head>
<body>
    <main>
        <SvelteCounter client:visible />
    </main>
</body>
</html>
