---
import SvelteCounter from '../components/SvelteCounter.svelte';
import {getPokemons} from "../util/getPokemons"

let title = 'My Astro Site';
const pokemons = await getPokemons()
  1
console.log(pokemons.data)

---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
</head>
<body>
    <main>
        <SvelteCounter client:visible />
    </main>
</body>
</html>
