---
import BaseLayout from "../layout/BaseLayout.astro"
import {getPokemons} from "../util/getPokemons"
import PokemonsList from "../components/PokemonsList.svelte"
import PagenateButton from "../components/PagenateButton.svelte"

const pokemons = await getPokemons({limit:10,offset:0})

const {data} = pokemons
const allPokemon = data.pokemons.results
---

<BaseLayout title="astro-graphql">
  <div class="container">
    <PokemonsList  pokemons={allPokemon} />
      <div class="pagenate-group">
        <PagenateButton page={1} />
        <PagenateButton page={2} link="/pokemons/2" />
      </div>
  </div>
</BaseLayout>

<style>
  .container{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .pagenate-group{
    display: flex;
    gap:5px;
    margin:10px 0;
  }
</style>